.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../Assets/background1.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
}

.middle-in-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.form-body {
    width: 300px;
    padding: 40px 60px 60px 60px;
    background-color: rgba(245, 235, 224, 0.85);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tow-columns {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}